footer{background-color: #EEEEEE;}

h3, p {text-align: center;}

section h3 {color: white;}

.tiret{

	text-align: center;
	height : 2px;
	border-top : 1px solid #000;
width : 50px; 
}



section{
	background-color: #222222;
}

.telephone, .adresse, .photos {text-align: center;}

.col-sm-12{
	text-align: center;
}

.col-xs-12{
	background-color: white;
}
.col-xs-12:hover {background: #666;}

/*bouton action :*/

.dwnld {
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
  display: inline-block;
  font-family: tahoma,arial,helvetica,sans-serif;
  font-size: 15px;
  /*font-weight: bold;*/
  margin-top: 12px;
  padding: 7px 9px;
  text-decoration: none;
  /*text-transform: uppercase;*/
}

.mel{color: red;}

/*
NAV BAR FIXED

 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>



Collapsing The Navigation Bar

The navigation bar takes up too much space on a small screen.

We should hide the navigation bar; and only show it when it is needed.

In the following example the navigation bar is replaced by a button in the top right corner. Only when the button is clicked, the navigation bar will be displayed:
Example
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

*/